<!DOCTYPE html>
<html>

<head>
    <style>
        .item1 {
            grid-column: 1;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
            padding: 10px;
        }

        th {
            height: 30px;
        }
    </style>
</head>

<body>
    <div>
        <h3 align="center"><%= title %></h3>
        <div class="item1">
            <img src=/assets/images/default.jpg" />
        </div>
        <table>
            <thead>
                <tr>
                    <% header.forEach(h => { %>
                    <th><%= h %></th>
                    <% }); %>
                </tr>
            </thead>
            <tbody align="center">
                <% if (content.length > 0) { %>
                <% content.forEach(cnt => { %>
                <tr>
                    <% for(var p in cnt) { %>
                    <td><%= cnt[p] %></td>
                    <% }; %>
                </tr>
                <% }); %>
                <% } %>
            </tbody>
        </table>
    </div>
</body>

</html>